[Desktop Entry]
Encoding=UTF-8
Name=FIAX
Comment=FIAX P2P Cryptocurrency
Comment[fr]=FIAX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FIAX, eşten eşe kriptografik sanal para birimi
Exec=fiax-qt %u
Terminal=false
Type=Application
Icon=fiax128
MimeType=x-scheme-handler/fiax;
Categories=Office;Finance;
